# Node
ui-showcase/node_modules
ui-showcase/dist

# Python
fast-api/.venv
fast-api/__pycache__
fast-api/.pytest_cache
fast-api/*.pyc

# Environment
.env
ui-showcase/.env
fast-api/.env

# VS Code
.vscode

# OS
.DS_Store
Thumbs.db